﻿@model The_Museum.Models.ANIMALES

<style>
    .jumbotron {
        background-color: transparent;
        padding: 70px 0 0 0;
    }

    .green {
        color: #5cb85c;
    }

    .thumbs {
        padding: 40px 0;
    }

    .thumbnail > img {
        max-width: 60%;
    }

    .img_animal {
        width: 100%;
        height: 50vh;        
        background-position: center center;
        background-size: cover;
    }
</style>

<div class="img_animal" style="background-image:url(@Model.an_img1)"></div>

<div class="container thumbs">
    <div class="col-sm-6 col-md-4">
        <div class="caption">
            <h3 class="text-center">CLASE</h3>
            <p style="text-align: center">@ViewBag.cl</p>
            <h3 class="text-center">ESPECIE</h3>
            <p style="text-align: center">@Model.an_especie</p>
            <h3 class="text-center">HÁBITAD</h3>
            <p style="text-align: center">@ViewBag.ha</p>
            <h3 class="text-center">ESTADO DE RIESGO</h3>
            <p style="text-align: center">@ViewBag.ca</p>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <div class="caption">
                <h3 class="text-center">CARACTERISTICAS</h3>
                <p>@Model.an_caracteristicas</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <div class="caption">
                <h3 class="text-center">COMPORTAMIENTO</h3>
                <p>@Model.an_comportamiento</p>
            </div>
        </div>
    </div>
</div>