﻿@model IEnumerable<The_Museum.Models.ANIMALES>

<style>
    .img_animal{
        width:10vh;
        height:10vh;
        border-radius:50vh;
        background-position: center center;
        background-size:cover;
    }

    .item_animal {
        margin-top: 10vh;
        border: solid 1px #333333;
        border-radius: 2vh;
        width: 40%;
    }
</style>

@foreach (var item in Model)
{
<div class="row item_animal">
    <div class="col-md-3">
        <div class="img_animal" style="background-image:url(@item.an_img1)"></div>
    </div>
    <div class="col-md-7">
        <b>@item.an_nombre</b>
        <p>@item.an_especie</p>
        @Html.ActionLink("Ver mas", "Animals", new { id = item.an_codigo })
    </div>
</div>
}

