﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('../Content/Img/bg.png') !important;
    background-repeat: repeat;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.navbar-inverse {
    background: #0bd8a2 !important;
    border-color: white !important;
}

