﻿@{
    ViewBag.Title = "Inicio";
}
<style>    

    #map {
        width: 100%;
        height: 70vh;
    }
</style>

<div class="row">
    <div class="col-md-3" style="padding-left: 5vh;">
        <h2>Convenciones</h2>
        <div class="row">
            <div class="col-xs-2 col-md-2">
                <div class="convenciones" style="background-color:#F94F21"></div>
            </div>
            <div class="col-xs-10 col-md-10">
                <b>Region Caribe</b>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2 col-md-2">
                <div class="convenciones" style="background-color:#0069DB"></div>
            </div>
            <div class="col-xs-10 col-md-10">
                <b>Region Andina</b>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2 col-md-2">
                <div class="convenciones" style="background-color:#FF9C1A"></div>
            </div>
            <div class="col-xs-10 col-md-10">
                <b>Region del Pacifico</b>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2 col-md-2">
                <div class="convenciones" style="background-color:#FFD72E"></div>
            </div>
            <div class="col-xs-10 col-md-10">
                <b>Region de la Orinoquia</b>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2 col-md-2">
                <div class="convenciones" style="background-color:#4CAF50"></div>
            </div>
            <div class="col-xs-10 col-md-10">
                <b>Region Amazonica</b>
            </div>
        </div>
    </div>
    <div class="col-md-7" style="margin: auto;">
        @{Html.RenderPartial("~/Views/Partial/Map.cshtml");}
    </div>
</div>

